.navigation-tab-bar {
    [data-slot="tabs"] {
        box-shadow: unset;
        border: unset;
        border-radius: var(--border-radius);
        max-width: max-content;
        margin: auto;
        overflow: auto hidden;
        display: flex;
        align-items: center;

        [data-slot="tabs-list"] {
            border-color: var(--border-color);
            background-color: var(--main-bg-color);
            box-shadow: var(--box-shadow);
            border-radius: unset;
            align-items: center;

            [data-state="active"] {
                background-color: var(--tab-active-bg-color);
                color: var(--tab-active-text-color);
                box-shadow: unset;
            }

            [data-slot="tooltip-trigger"],
            [data-slot="popover-trigger"] {
                min-width: unset;

                &:hover {
                    color: var(--tab-text-color);
                    background-color: unset;
                }
            }

            .tab-disabled {
                display: block;
                font-size: 14px;
                padding-inline: 7px;
                gap: 0.25rem;
                font-weight: 500;
            }

            button,
            a {
                min-width: 36px;
                max-width: max-content;
                color: var(--tab-text-color);

                svg {
                    width: 100%;
                }

                &:hover {
                    background-color: var(--tab-active-bg-color);
                    color: var(--tab-active-text-color);
                }

                &:disabled {
                    background-color: unset;
                    color: unset;

                    &:hover {
                        color: unset;
                    }
                }
            }

            a:hover {
                padding: 9px 0px 0px 0px;
            }
        }

        &.remove-shadow {
            box-shadow: unset;
        }
    }
}

@media (width < 920) {
    .navigation-tab-bar {
        [data-slot="tabs"] {
            box-shadow: var(--box-shadow);
            border: 1px solid var(--border-color);
        }

        [data-slot="tabs-list"] {

            button,
            a {
                min-width: 50px !important;
            }

            [data-slot="tabs-trigger"] {
                padding: 6px;
            }
        }
    }
}