.sign-in-form {
    margin-bottom: 12px;

    input {
        font-size: 13px;
    }


    .password-criteria-container {
        list-style: none;
        padding: 0;
        font-size: 12px;
        margin-top: 5px;

        div {
            display: flex;
            align-items: center;
            gap: 8px;

            svg {
                width: 12px;
                height: 22px;
            }
        }
    }
}