.market-summary-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;

    .item {
        min-width: 270px;
        flex: 1;
        padding: 12px;

        [data-slot="item-title"] {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .more-link {
                cursor: pointer;
                display: flex;
                align-items: center;

                .lucide-chevron-right {
                    width: 13px;
                    margin-left: 1px;
                }
            }
        }
    }
}

.crypto-symbol {
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
    font-weight: 500;
}

.coin-letter-mark {
    text-align: center;
    background-color: var(--grey-color-2);
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: 500;
}