.navigation-tab-bar {
    [data-slot="tabs"] {
        box-shadow: var(--box-shadow);
        max-width: max-content;
        margin: auto;
        overflow: auto hidden;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        display: flex;
        align-items: center;

        [data-slot="tabs-list"] {
            border-color: var(--border-color);
            background-color: var(--main-bg-color);
            box-shadow: var(--box-shadow);
            height: 40px;
            gap: 5px;
            border-radius: unset;

            [data-state="active"] {
                background-color: var(--tab-active-bg-color);
                color: var(--tab-active-text-color);
                box-shadow: unset;
            }

            [data-slot="tooltip-trigger"] {
                min-width: unset;

                &:hover {
                    padding: 0;
                    background-color: unset;
                }
            }

            button,
            a {
                min-width: 36px;
                max-width: max-content;
                place-items: center;
                color: var(--tab-text-color);

                &:hover {
                    background-color: var(--tab-active-bg-color);
                    color: var(--tab-active-text-color) !important;
                    border-radius: var(--border-radius);
                }

                &:disabled {
                    background-color: unset;
                    color: unset;
                }
            }

            a:hover {
                padding: 9px 0px 0px 0px;
                height: 33px;
            }
        }

        &.remove-shadow {
            box-shadow: unset;
        }
    }
}

@media (width > 820) {
    .navigation-tab-bar {
        [data-slot="tabs"] {
            box-shadow: unset;
            border: unset;
        }
    }
}