.cnv-table {
    width: 100%;
    font-size: 13px;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    tr {
        &:not(:last-child) {
            border-bottom: 1px solid var(--border-color);

            th {
                border-bottom: 1px solid var(--border-color);
            }

            td {
                border-bottom: 1px solid var(--border-color);
            }
        }
    }

    td {
        &:not(:last-child) {
            border-right: 1px solid var(--border-color);
        }
    }

    tbody {
        tr {
            &:not(:last-child) {
                border-bottom: 1px solid var(--border-color);

                th {
                    border-bottom: 1px solid var(--border-color);
                }

                td {
                    border-bottom: 1px solid var(--border-color);
                }
            }

            td {
                padding: 4px 6px;

                &:first-child {
                    width: 20%;
                    color: var(--vrt-th-color);
                }

                .social-container {
                    display: flex;
                    gap: 8px;

                    .social-link-chip {
                        display: flex;
                        align-items: center;
                        padding: 1px 4px;
                        border-radius: var(--border-radius);

                        .icon {
                            margin-right: 5px;
                            font-size: 16px;

                            [name="reddit"] {
                                color: var(--reddit-color);
                            }

                            [name="github"] {
                                color: var(--github-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

.cnv-borderless-table {
    font-size: 14px;
    width: 100%;

    thead {
        th {
            font-size: 12px;
            color: var(--th-color);
            font-weight: unset;
            padding: 0px 8px 12px 8px;

            &:first-child {
                padding-left: unset;
            }

            &:last-child {
                padding-right: unset;
            }
        }
    }

    tbody {
        tr {
            vertical-align: middle;

            &:first-child {
                td {
                    padding-top: unset;
                }
            }

            &:last-child {
                padding-bottom: unset;
            }

            td {
                padding-top: 14px;
                padding-right: 8px;
                padding-left: 8px;

                &:first-child {
                    padding-left: unset;
                }

                &:last-child {
                    padding-right: unset;
                }
            }
        }
    }
}