.navigation-tab-bar.watchlist-tab-bar {
    margin-bottom: 12px;

    [data-slot="tabs"] {
        margin-inline: unset !important;
        align-items: start !important;
        box-shadow: unset !important;
        border: unset !important;

        &::-webkit-scrollbar {
            height: 0px !important;
        }
    }
}

.watchlist-coins-container {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 8px 12px;

    .header {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .cnv-borderless-table.watchlist-coins-table {
        margin-bottom: 12px;

        tbody {
            tr {
                &:hover {
                    background-color: var(--row-hover-color);
                    cursor: pointer;
                }

                td {
                    color: unset;
                    padding: 8px 8px;

                    &:first-child {
                        border-top-left-radius: var(--border-radius);
                        border-bottom-left-radius: var(--border-radius);
                    }

                    &:last-child {
                        border-top-right-radius: var(--border-radius);
                        border-bottom-right-radius: var(--border-radius);
                    }
                }
            }
        }
    }
}