.header-container {
    border-bottom: 1px solid var(--border-color);
    padding: 0px 10px;
    overflow-x: auto;
    position: sticky;
    top: 0px;
    background-color: var(--main-bg-color);
    width: 100%;
    z-index: 60;
    height: 50px;
    align-content: center;

    &::-webkit-scrollbar {
        display: none;
    }

    &.with-shadow {
        box-shadow: var(--bottom-box-shadow);
        border-bottom: unset;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logo {
            color: var(--text-color);
            font-size: 20px;
            font-weight: 600;
            margin-right: 12px;
            min-width: 130px;
        }

        .header-right-side-container {
            min-width: 130px;
            gap: 16px;
            @apply flex justify-end items-center;

            .account-container {
                .user-icon {
                    text-align: center;
                    cursor: pointer;
                    @apply flex justify-center items-center
                }

                .sign-in-btn {
                    background-color: #ededed;
                    color: var(--text-color);
                    border: 1px solid #e6e6e6;

                    &:hover {
                        background-color: #ededed;
                        color: var(--text-color);
                    }
                }
            }
        }
    }
}